<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis of Product Reviews</title>
</head>
<body style="text-align: center; background-color: rgb(212, 224, 233);font-family: monospace;font-style: bold;">
    <div style="width: 60%;padding: 20px;margin: 8% auto 0;box-shadow: 0px 0px 30px #0f0f0f;border-radius: 10px;background: #faf9f8;">
        <h1 style="color: #000000;font-size: 32px;">SENTIMENT ANALYSIS OF PRODUCT REVIEWS</h1>

        <form action="/prediction" method="post"> 
            <input type="text" name="reviews" placeholder="Please Enter Your Review Here" style="font-style: bold;padding: 30px;width: 60%;margin-bottom: 20px;border-radius: 10px;font-size: 18px;font-family: monospace;border:2px solid #2a3843;"><br>
            <input type="submit" value="PREDICT" style="font-style: bold;background: #eb033d;font-weight: bold;padding: 15px;width: 40%;margin-bottom: 20px;border-radius: 10px;font-size: 18px;font-family: monospace;cursor: pointer;border:2px solid #2a3843;">
        </form>
    </div>
</body>
</html>
