<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENTIMENT ANALYSIS OF PRODUCT REVIEWS</title>
</head>
<body style="text-align: center; background-color: rgba(7, 10, 10, 0.9);font-family: monospace;font-style: bold;">
    <div style="width: 60%;padding: 50px;margin: 8% auto 0;box-shadow: 0px 0px 30px #0f0f0f;border-radius: 10px;background: #ffffff;">
        <h1 style="color: #000000;font-size: 25px;font-family: monospace;"> THE SENTIMENT OF THE REVIEW IS </h1>
        <h3 style="color: #000000;font-size: 20px;font-family: monospace;">{{prediction}}</h3>
    </div>
    <button style="color: #000000;font-size: 20px;font-family: monospace;" onclick="goBack()">GO BACK</button>
</body>
</html>
<script>
    function goBack() {
      window.history.back();
    }
</script>